@font-face
{
	font-family: 'icomoon';
	font-display: block;
	font-style: normal;
	font-weight: normal;
	src: url('icomoon.eot?766owo');
	src:
		url('icomoon.eot?766owo#iefix') format('embedded-opentype'),
		url('icomoon.ttf?766owo') format('truetype'),
		url('icomoon.woff?766owo') format('woff'),
		url('icomoon.svg?766owo#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"]
{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-save:before
{
	content: "\e933";
}

.icon-clear:before
{
	content: "\e9ad";
}
