@font-face
{
	font-family: "IBM Plex Sans";
	font-display: swap;
	font-style: italic;
	font-weight: 400;
	src:
		local("IBM Plex Sans Italic"),
		local("IBMPlexSans-Italic"),
		url("./IBMPlexSans-Italic.woff2") format("woff2"),
		url("./IBMPlexSans-Italic.woff") format("woff");
}

@font-face
{
	font-family: "IBM Plex Sans";
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src:
		local("IBM Plex Sans Medium"),
		local("IBMPlexSans-Medium"),
		url("./IBMPlexSans-Medium.woff2") format("woff2"),
		url("./IBMPlexSans-Medium.woff") format("woff");
}

@font-face
{
	font-family: "IBM Plex Sans";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src:
		local("IBM Plex Sans"),
		local("IBMPlexSans"),
		url("./IBMPlexSans-Regular.woff2") format("woff2"),
		url("./IBMPlexSans-Regular.woff") format("woff");
}
