/**
 * Shared variables.
 */

:root
{
	--background-color: #efefef;
	--background-color-alt: #dedede;
	--background-color-dark: #222;

	--text-font: "IBM Plex Sans", Helvetica, sans-serif;
	--text-color: #222;
	--text-color-inv: #efefef;
	--accent-color: #4a69bd;
	--accent-color-light: #5274d1;

	--text-size: 18px;
	--grid-size: 25px;
}

/**
 * Generic styles
 */

*, *::before, *::after
{
	/* Enables border box model on all elements. */
	box-sizing: border-box;
}

body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;

	font-family: var(--text-font);
	font-size: var(--text-size);
	line-height: var(--grid-size);
	color: var(--text-color);

	background-color: var(--background-color);
}

h1
{
	font-weight: normal;
	font-size: calc(1.5 * var(--text-size));
	line-height: calc(1.5 * var(--grid-size));
	margin:
	var(--grid-size) 0
	calc(.5 * var(--grid-size)) 0;
}

h2
{
	font-weight: normal;
	font-size: calc(1.25 * var(--text-size));
	line-height: calc(1.5 * var(--grid-size));
	margin:
	var(--grid-size) 0
	calc(.5 * var(--grid-size)) 0;
}

h3
{
	font-weight: normal;
	font-size: var(--text-size);
	line-height: var(--grid-size);
	margin:
	calc(.75 * var(--grid-size)) 0
	calc(.25 * var(--grid-size)) 0;
}

svg.hidden
{
	width: 0;
	height: 0;
	position: absolute;
	top: -100px;
	left: -100px;
}

.hint
{
	font-style: italic;
}

.hide
{
	display: none;
}

a
{
	text-decoration: none;
}

button, input[type="submit"]
{
	background-color: var(--accent-color);
	color: var(--text-color-inv);
	cursor: pointer;
}

button[disabled], input[type="submit"][disabled]
{
	background-color: gray;
	cursor: not-allowed;
}

input, textarea
{
	background-color: white;
	color: var(--text-color);
}

textarea
{
	display: block;
	resize: vertical;

	width: 100%;
	height: 5em;
}

button, input, textarea
{
	font-family: var(--text-font);
	font-size: var(--text-size);
	border-radius: 5px;
	border: 0;
	padding: 5px;
}

label
{
	display: inline-block;
	width: 150px;
}

/**
 * Header
 */

header
{
	display: flex;
	height: calc(3.5 * var(--grid-size));
	background:
		url('../img/icons/icon-180x180.png')
		var(--grid-size) center no-repeat
		var(--accent-color);
	background-size:
		calc(2 * var(--grid-size))
		calc(2 * var(--grid-size));

	color: var(--text-color-inv);
}

header h1
{
	margin: 0;
	border-top: solid calc(1.1 * var(--grid-size)) transparent;
	border-right: solid var(--grid-size) transparent;
	border-bottom: solid calc(0.9 * var(--grid-size)) transparent;
	border-left: solid calc(4 * var(--grid-size)) transparent;

	overflow: hidden;
}

#menu, #menu ul, #menu li, #menu a
{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 100%;
	white-space: nowrap;
}

#menu ul
{
	list-style: none;
}

#menu li, #menu a
{
	line-height: 96px;
}

#menu a
{
	padding: 0 var(--grid-size);
	color: var(--text-color-inv);
}

#menu a.active
{
	background: var(--accent-color-light);
}

/**
 * Main contents
 */

#contents
{
	display: flex;
	height: calc(100% - 3.5 * var(--grid-size));
}

/* Tabs */

.tab-control-input
{
	display: none;
}

#tab-control, #tab-control li, #tab-control label
{
	display: inline-block;
	margin: 0;
	padding: 0;
	height: calc(3 * var(--grid-size));
	white-space: nowrap;
}

#tab-control
{
	list-style: none;
	display: none;
}

#tab-control label
{
	cursor: pointer;
	padding: 0 var(--grid-size);
	background-color: var(--background-color);
	line-height: calc(3 * var(--grid-size));
}

#tokens-tab-control:checked ~ #tab-control label[for="tokens-tab-control"]
{
	background-color: var(--background-color-alt);
}

#evaluation-tab-control:checked ~ #tab-control label[for="evaluation-tab-control"]
{
	background-color: var(--background-color-alt);
}

/**
 * Tokens panel
 */

#tokens-panel
{
	width: 60%;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-alt);
}

/* Editor */

#editor
{
	height: 100%;
	padding: var(--grid-size);
	overflow-y: auto;
}

#sequence-frame
{
	display: flex;
	align-items: center;

	background: var(--background-color);
	border-radius: 5px;

	padding: var(--grid-size);
	margin: var(--grid-size) 0;
}

#sequence
{
	width: 100%;
	line-height: 0;
	margin: 0;
}

#sequence .hint
{
	line-height: var(--text-size);
}

#sequence li
{
	padding: 0;
	cursor: not-allowed;
}

/* Library */

#library
{
	display: flex;
	margin: 0 calc(-1 * var(--grid-size));
}

.library-column
{
	width: 100%;
	margin: 0 var(--grid-size);
}

.token-block
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: calc(-.33 * var(--grid-size));
	padding: 0;
	list-style: none;
}

.token-block::after
{
	content: " ";
	flex: auto;
}

.token-block li
{
	display: inline-block;
	padding: calc(.33 * var(--grid-size));

	cursor: pointer;
	line-height: 0;
}

/* Documentation */

#documentation
{
	background-color: var(--background-color-dark);
	color: var(--text-color-inv);

	overflow-y: auto;
	padding: var(--grid-size);

	height: 40%;
}

#documentation .def
{
	font-size: 1.5em;
	vertical-align: 20%;
}

#documentation dt
{
	float: left;
	clear: left;
	font-style: italic;
}

#documentation dt::before
{
	content: "—";
	padding-right: .25em;
}

#documentation dt::after
{
	content: ": ";
	padding-right: .25em;
}

#documentation dd
{
	margin: 0;
}

#documentation dd::after
{
	content: ".";
}

/**
 * Evaluation panel
 */

#evaluation-panel
{
	width: 40%;
	padding: var(--grid-size);
}

#evaluation-fields input
{
	width: 8ch;
	margin-right: var(--grid-size);
}

.calculator
{
	display: inline-block;

	min-width: 110px;
	height: 40px;
	padding: 0 10px;
	border: 2px solid gray;
	border-radius: 5px;

	line-height: 28px;
	font-size: 35px;
	color: red;
	font-family: "Digital-7", sans-serif;
	text-align: right;

	background-color: black;
}

.calculator.pending
{
	text-align: center;
	font-size: 0rem;
}

.calculator.pending::after
{
	content: " ";
	display: inline-block;

	margin-top: 8px;

	width: 20px;
	height: 20px;
	border: 3px solid rgba(255,255,255,.3);
	border-radius: 50%;
	border-top-color: #fff;

	animation: spin 1s cubic-bezier(.45, .22, .51, .86) infinite;
}

@keyframes spin
{
	to
	{
		transform: rotate(360deg);
	}
}

/**
 * About page
 */

#about
{
	max-width: 700px;
	margin: var(--grid-size) auto;
	padding: calc(2 * var(--grid-size));

	background: white;
}

.float-right
{
	float: right;
	position: relative;
	left: calc(8 * var(--grid-size));
	margin-left: calc(-6 * var(--grid-size));
}
