/**
 * Show tabs above the panels
 */

#tab-control
{
	display: block;
}

#contents
{
	height: calc(100% - 6.5 * var(--grid-size));
}

#tokens-panel
{
	width: 100%;
	background: var(--background-color-alt);
}

#tokens-tab-control:not(:checked) ~ #contents #tokens-panel
{
	display: none;
}

#evaluation-panel
{
	width: 100%;
	background: var(--background-color-alt);
}

#evaluation-tab-control:not(:checked) ~ #contents #evaluation-panel
{
	display: none;
}

#editor > h1, #evaluation-panel > h1
{
	display: none;
}

/**
 * Use a single column for the library
 */

#library
{
	display: block;
	margin: 0;
}

.library-column
{
	margin: 0;
}

/**
 * Span the whole width on about page.
 */

#about
{
	max-width: 960px;
	width: 100%;
	margin: 0;
}

.float-right
{
	display: block;
	max-width: 100%;
	margin: auto;

	float: none;
	position: static;
}

/**
 * Hide title for really small screens.
 */

@media screen and (max-width: 400px)
{
	header h1
	{
		font-size: 0;
	}
}
