/**
 * Generic shape for a Rózsa token.
 */
.token
{
	display: inline-block;
	position: relative;
	overflow: hidden;

	color: black;
	background: linear-gradient(#CCCCCC, #808080);

	border: 1px solid #7f7f7f;
	border-radius: 10px;

	/* Allow extension on the x-axis. */
	min-width: 30px;
	height: 30px;
}

.token--library
{
	background: linear-gradient(#2D2D2D, #000000);
}

.token--library-cheat
{
	background: linear-gradient(#EE2735, #CC5360);
}

/**
 * Backdrop translucent circles on the top.
 */
.token::before, .token::after
{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
}

.token::before
{
	background: radial-gradient(
		circle at center -30px,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.3) 73%,
		transparent 74%);
}

.token::after
{
	background: radial-gradient(
		circle at top right,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.3) 25%,
		transparent 26%);
}

/**
 * Kinds of tokens differentiated by their color.
 */
.token--basic
{
	background: linear-gradient(#33CCCC, #4040BF);
}

.token--arity
{
	background: linear-gradient(#A5CC33, #408C40);
}

.token--constructor
{
	background: linear-gradient(#CCCC33, #BF4040);
}

/**
 * Text contained inside the token, to which a triple-shadow effect
 * is applied (SVG-defined, see HTML).
 */
.token__text
{
	position: relative;
	z-index: 2;

	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0 7px;

	line-height: 26px;
	text-align: center;
	white-space: nowrap;

	font-size: 20px;
	font-family: "Helvetica Neue Medium", Helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;

	filter: url(#token-text);
}

/**
 * Special token symbols.
 */
.token__text--composition,
.token__text--left,
.token__text--right
{
	position: relative;
	top: -1px;
}

.token__text--left::before
{
	content: "◀";
}

.token__text--right::before
{
	content: "▶";
}

.token__text--composition::before
{
	content: "o";
}

.token__text--composition
{
	font-weight: 500;
}

.token__text--composition::after
{
	margin-left: -.375em;
	content: "o";
}
