@font-face
{
	font-family: "Helvetica Neue Medium";
	font-display: fallback;
	font-style: normal;
	font-weight: normal;
	src:
		local("Helvetica Neue Medium"),
		url("./HelveticaNeue-Medium.woff") format("woff");
}
